body {
    background-color: orangered;
    color: white;
    margin: 0;
    font-family: rubik;
    background-image: url("https://wallpaperaccess.com/full/45656.jpg");
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3px;
    color: gold;
    text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
    
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
  text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}
.pokemap {
    --favorite-color: blue;
  color: var(--favorite-color);
  box-shadow: 5px 5px 10px var(--favorite-color);
  position: right;
}


@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}